/* import {clinic, physio, services, team } */
*,
html,
body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0px;
  padding: 0px !important;
  box-sizing: border-box;
}

.container {
  min-width: 100%;
}
.content {
  width: 100%;

  height: 105vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-x: hidden; */
}
.opening-page {
  height: 125vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knee {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(./data/knee-pain-1024x683.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  height: 55vh;
}

.weights {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(./data/weights-on-gym-floor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  background-position: right 10px top;
  height: 150vh;
}
.clinic {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(./data/clinic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.physio {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(./data/physio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(./data/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.team {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(./data/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.content-words {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  color: rgb(255, 255, 255);
}
.fa fa-location-arrow {
  transform: 2;
}

.booking-title,
.nav-titles,
.content > h1 {
  overflow: hidden;
}

.nav-title {
  width: 45%;
}

@media (min-width: 600px) {
  .booking-container,
  .location-container {
    width: 60%;
  }
}
@media (min-width: 800px) {
  .booking-container,
  .location-container {
    width: 60%;
  }
}
@media (min-width: 1000px) {
  .booking-container,
  .location-container {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .booking-container,
  .location-container {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
  }
}
.image-container {
  width: 20%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.nav-container {
  height: 25%;
}
.nav-img {
  background: url("./c06173aa-4357-4f8e-9b29-52b4e21b545d_200x200.png");
  z-index: 1;
}

.link {
  color: black;
}
.pay-form {
  background-color: rgb(232, 232, 232);
}
.modal-closing {
  width: 10%;
}
.scroll-top {
  overflow-x: hidden;
}
.img-self {
  max-width: 260px !important;
  min-width: 200px !important;
}
.img-services {
  max-width: 200px !important;
  min-height: 200px !important;
}

.carousel-inner > .item {
  -webkit-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}
